html{
  background-color: rgb(41, 38, 38);
  color: white;
}

.box{
  /* border: 5px solid red; */
  display: flex;
  background-color: #222222;
  margin: 10px 10px;
  font-weight: 400;
}

.img-box{
  width: 25%;
  padding: 25px;
}

.img-box img{
  display: inline-block;
  height: 100%;
  width: 100%;
}

.data-box{
  /* border: 3px solid blue ; */
  width: 50% ;
  text-align: left;
  font-size: 1.5rem;
  color: aliceblue;
  line-height: 40px;
}

.data-box span{
  font-weight: 600;
  color: white ;
}

.location-box{
  font-size: 1.5rem;
  width: 25%;
  /* border: 5px solid green; */
  display: flex;
  margin-top: 20px;
}

.location-box .state-name{
  width: 50%;
  text-align: center;
}

.location-box .city-name{
  width: 50%; 
  text-align: center;
}

nav .top-nav{
  display: flex;
}

nav .user-div{
  margin-left: 80%;
  display: flex;
}

nav .user-img{
  margin-top: 10px;
  margin-left: 20px;
  width:40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

nav .navlink{
  color: rgb(227, 218, 218);
  margin: 20px ;
  text-decoration: none;
}

nav .active-link{
  color:white;
  margin: 20px ;
}

form{
  width: 50vw;
  margin: 30vh auto ;
}

form input,button{
  display: block;
  width: 100%;
  margin: 10px ;
  padding: 10px;
  border-radius: 20px;
}

form input:hover,button:hover{
  padding: 15px;
  background-color: aliceblue;
}
